.aboutOwners {
  width: 100%;
  display: flex;
  border: 1px solid rgb(38, 37, 37);
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  &__p{
    background-color: rgb(38, 37, 37);
  }
  &__imgWrapper {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
  }
  &__wrapper {
    align-items: center;
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
}
.icon{
  border-radius: 30px;
  width: 30px;
}
