.aboutSection {
background-color:  rgb(73, 72, 72);
  width: 100%;
  margin-top: 10px;
  height: 100%;
}

.aboutWrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
}