.app {

  height: 100vh ;
  background-color: rgb(38, 37, 37);
}

.title {
  color: aliceblue;
  width: 100%;
  padding: 15px;
  border-bottom: 4px solid blueviolet;
}

.sections{
  height: 100%;
}
.listsection{
  height: 100%;
}

.wrapper{
  height: 94vh;
  display: flex;
  flex-direction: row;
}