.app {

  height: 100vh;
  background-color: rgb(38, 37, 37);
  padding: 15px;
}

.title {
  color: aliceblue;
  width: 100%;
  padding: 15px;
  border-bottom: 4px solid blueviolet;
}

.sections{
  height: 92vh;
  display: flex;
}